head
    ul
        li
            a(href='/') Home
        li
            a(href='about') About Me
        li
            a(href='projects') Projects
        li
            a(href='services') Services
        li
            a(href='contact') Contact Me
            hr