doctype html
html
  head
    title= title
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css')
    include partials/header
  body.p-3
    block content
    h1= title
    p Welcome to the #{title} page
    include partials/footer